.mypage_posts {
  display: flex;
  flex-direction: column;
  width:480px;
  align-items: start;
  margin-right: 15px;
}

.mypage_posts > .title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  color: var(--green-color)
}

.mypost_container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.mypost_container .card {
  margin: 10px;
  width: 220px
}